extends layout

block content
    include dashboardNavigation

    include bootstrap

    div#feed
        div#post(class='container')
            form#post_form
                input#post_txt(type='text')
                input#post_add(type='submit' class='btn btn-default' value='Post')
                input#post_cancel(type='button' class='btn btn-default' value='Cancel')
        div#notifcation
