extends layout

block content
    h1= title
    p Welcome to #{title}
    div#feed
        div#post(class='container')
            form#post_form
                input#post_txt(type='text')
                input#post_add(type='submit' value='Post')
                input#post_cancel(type='button' value='Cancel')