extends layout

block content
  h1= title
  p Welcome to #{title}
  include indexNav
  form#login(action='/dashboard')
    div
      input#username(type='text' placeholder='Username')
      input#password(type='password' placeholder='Password')
      input#submit(type='submit')